body {
    position: relative;
    padding-top: 56px;
}

nav {
    background-color: #19957C;
}

#nav {
    background-color: #19957C;
}

.center {
    text-align: center;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #19957C transparent transparent transparent;
}

.slogan>span {
    display: block;
    color: white;
}

.slogan>span:nth-child(1) {
    font-size: calc(100% + 7vw);
}

.slogan>span:nth-child(2) {
    font-size: calc(100% + 4vw);
}

.slogan>span:nth-child(3) {
    font-size: calc(100% + 2vw);
}

.home-img {
    max-width: 100%;
}

#about, #projects, #contact {
    padding: 15px 0;
}

#home {
    background-color: #1ABC9C;
    text-align: center;
}

/* #about, #projects */
#home {
    height: calc(100vh - 56px);
}

#projects {
    background-color: #D3D3D3;
}

.footer {
    min-height: 150px;
    background-color: #264358;
    color: white;
}

.logo {
    width: 2em;
}